.idea/
src/__pycache__/
src/models/__pycache__/
#Data subfolders - to avoid overriding
./Ferret/eIF4E1/*
./Ferret/eIF4EBP1/*
./Ferret/eIF4EBP2/*
./Ferret/eIF4EBP3/*
./Ferret/eIF4G1/*
./Ferret/eIF4G3/*
src/Statistics/__pycache__/
src/models/Filters/__pycache__/
